html,
body {
    margin: 0;
    padding: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    /* align-items: center; */
    /* Center vertically */
}

#map {
    width: 100%;
    /* Adjust width to your desired size */
    height: 100%;
    /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: subtle shadow for effect */
    border-radius: 8px;
    /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map circle {
    fill: steelblue;
    fill-opacity: 0.6;
    stroke: white;
    pointer-events: auto;
}

#map circle,
.legend>div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(in oklch,
            var(--color-departures) calc(100% * var(--departure-ratio)),
            var(--color-arrivals));
    fill: var(--color);
}


header {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

label {
    margin-left: auto
}

#selected-time {
    display: block;
}


#any-time {
    display: block;
    color: gray;
    font-style: italic;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 0.5em;
    font-size: 0.9rem;
    font-family: system-ui, sans-serif;
    color: #333;
}

.legend::before {
    content: "LEGEND:";
    font-weight: bold;
    margin-right: 1em;
    color: #666;
}

.legend>div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

/* add dots before text */
.legend>div::before {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(in oklch,
            var(--color-departures) calc(100% * var(--departure-ratio)),
            var(--color-arrivals));
    fill: var(--color);
    background: var(--color);

}